<h1>Welcome to Ian's Personal Portfolio Home Page</h1>
<h3>You must create an account and log in to experience the full functionality of this site.</h3>
<h5>If you are not logged in, you will still be able to view Skills and Projects, but you will be unable to view blog posts or leave your own comments.</h5>

<%= link_to 'View All of the things Ian has learned!', skills_path %>
